@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    #login {
        width: 80vw;
    }
    #imagem{
        float: right;
        width: 45%;
        height: 100%;
    }
    #form{
        position: relative;
        float: left;
        width: 55%;
        height: 100%;
    }
    h1{
        padding: 10px;
        text-align: right;
    }
    #container{
        /* Faz o container ocupar toda a largura dform, opcional */
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end; /* Alinha os links no fundo */
    }
    a{
        width: 140px;
        margin: 5px;   
    }
    

}

@media screen and (min-width: 992px){
    #login {
        width: 990px;
    }
    #imagem{
        float: right;
        width: 45%;
        height: 100%;
    }
    #form{
        float: left;
        width: 55%;
        height: 100%;
    }
    h1{
        padding: 5px;
        text-align: right;
        font-size: 2.5em;
    }
    #container{
        /* Faz o container ocupar toda a largura dform, opcional */
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end; /* Alinha os links no fundo */
    }
    a{
        width: 140px;
        margin: 5px;   
    }
}