@charset "UTF-8";

/* paleta de cores 


*/
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
body , html {
    background: darkred url(img/balcao.jpg) no-repeat ;
    height: 100vh;
    width: 100vw;
    background-position: center center;
    background-size: cover;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: aliceblue;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    border: 1px solid rgba(139, 0, 0, 0.733);
    overflow: hidden; /*  DEIXAR A IMAGEM DENTRO DA BORDA */
    background-image:linear-gradient(to bottom , rgb(73, 10, 10) , rgb(82, 57, 3));
    transition: width 0.3s, heigth 0.3s ; /*  o tempo para fazer a mudança de tamanho */
}
#imagem{
    background: url(img/taca.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: center center;
    display: block;
}
#form{    
    display: block;
    padding: 10px 0px 0px 0px;
    color: white;
}
h1{
    padding: 10px;
    text-align: center;
}
p{
    padding: 0px 10px 8px 10px;
}
input[type=submit]{
    padding: 10px;
    width: 30%;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(53, 2, 2); 
    color: aliceblue;
    margin: 20px;
}
input[type=submit]:hover{
    background-color: brown;
}
a{
    text-align: bottom;
    color: aliceblue;
    text-decoration: none;
    overflow: hidden;
    padding: 8px;
    border: 1px solid rgb(53, 2, 2);
    border-radius: 10px;
    display:flexbox;
    width: 125px;
}
a:hover{
    color: brown;
    border: 1px solid brown;
}

#container{
    display: flex;
    padding: 2px;
}

